<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
    </style>

</head>

<body style="background-image: url('../static/images/7575295c-9919-4705-aaf5-c5b098323722.png');">
    <div class="container" >
        <div class="logo">

        </div>
        <div class="main">
            <div class="adminlogo">

            </div>
            <div class="form">

            </div>
        </div>
    </div>
</body>

</html>